<%= form.input :name %>

<div class="clearfix labs-and-lectures-time-inputs">
  <%= form.input :lectures_time, input_html: { min: 0 } %>
  <%= form.input :labs_time, input_html: { min: 0 } %>
</div>

<div class="text-center">
  <%= form.input :calculate_time, as: :boolean, required: false %>
</div>

<div class="form-controls clearfix">
  <div class="pull-left">
    <%= form.button :submit %>
  </div>

  <div class="pull-left cancel-link">
    <%= link_to t('cancel'), sub_module, class: 'text-danger' %>
  </div>
</div>
